.App {
  text-align: center;
  background-color: #f8e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #fba661;
}

.box {
  padding: 30px;
  margin-top: 50px;
  outline-style: solid;
}

.bi-whatsapp :hover {
  color: brown;
}
