<header class="p-3 bg-transparent text-white shadow-sm mb-5">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-9 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 fs-4"
      >
        <li>
          <a href="#actions" class="nav-link px-2 text-green scrollto"
            >Actions</a
          >
        </li>
        <li>
          <a href="#candidates" class="nav-link px-2 text-green">Candidates</a>
        </li>
        <li><a href="#voters" class="nav-link px-2 text-green">Voters</a></li>
        <li><a href="#tally" class="nav-link px-2 text-green">Tally</a></li>
      </ul>

      <div class="text-end">
        <h4>
          <span class="badge site-green fs-4">Candidate</span>
        </h4>
      </div>
    </div>
  </div>
</header>

<main class="container-md">
  <article id="actions" class="blog-post site-bluish my-4 rounded-4 p-3">
    <h3 class="blog-post-title mb-1">Moderator Actions</h3>

    <p>Available actions are:</p>
    <dl>
      <dt>Initiate blockchain voting session</dt>
      <dd>
        <button class="btn" style="background-color: rgb(148 163 184)">
          Start
        </button>
      </dd>
      <dt>To Candidates:</dt>
      <dd>View List of Candidates who have applied</dd>
      <dd>
        Remove a candidate from the list (not known in SCIT or unqualified)
      </dd>
      <dt>To Voters:</dt>
      <dd>View List of Voters who have Registered</dd>
      <dd>Remove a voter from the list (not known in SCIT)</dd>
    </dl>
  </article>

  <article id="candidates" class="blog-post site-bluish rounded-4 my-4 p-3">
    <h3 class="blog-post-title mb-1">Registered SCIT Candidates</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Registration Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alice</td>
          <td>trial@gmail.com</td>
          <td>SCCI/00222/2018</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>trial2@gmail.com</td>
          <td>SCCI/00111/2018</td>
        </tr>
      </tbody>
    </table>

    <p><b>NB:</b> This is a recent copy, refresh page incase of updates</p>
  </article>

  <article id="voters" class="blog-post site-bluish rounded-4 my-4 p-3">
    <h3 class="blog-post-title mb-1">Registered SCIT Voters</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Registration Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alice</td>
          <td>trial@gmail.com</td>
          <td>SCCI/00222/2018</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>trial2@gmail.com</td>
          <td>SCCI/00111/2018</td>
        </tr>
      </tbody>
    </table>

    <p><b>NB:</b> This is a recent copy, refresh page incase of updates</p>
  </article>

  <article id="tally" class="site-bluish rounded-4 my-4 p-3">
    <h3 class="blog-post-title mb-1">Total Tallies</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Votes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alice</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </article>
</main>
