import "../css/candidate.css"


export default function Candidate() {
    return (
        <>
            <div className="content">

                <div id="home" className="container-fluid text-center">
                    <img src="https://pbs.twimg.com/profile_images/657824043/67.jpg" className="img-thumbnail" alt="candidate_image"></img>
                    <h3>Name</h3>
                    <p>You are registered as a candidate</p>
                    <div className="mb-3">
                        <label for="formFileSm" className="form-label">Upload PDF manifesto</label>
                        <input className="form-control form-control-sm" id="formFileSm" type="file" />
                    </div>
                    <blockquote>
                        <p>Your current vote is:</p>
                        <footer><b>78</b> of <b>90</b> </footer>
                    </blockquote>
                </div>

            </div>
        </>
    );
};
