<div className='bg-slate-50'>
    <h3 className='text-center text-black font-semibold font-sans text-5xl py-4'>Candidate</h3>
    <div className="login-wrap">
        <div className="login-html bg-slate-100">
            <input id="tab-1" type="radio" name="tab" className="sign-in" defaultChecked /><label htmlFor="tab-1" className="tab">Log In</label>
            <input id="tab-2" type="radio" name="tab" className="sign-up" /><label htmlFor="tab-2" className="tab">Register</label>
            <div className="login-form">
                <div className="sign-in-htm">
                    <form>
                        <div className="group">
                            <label htmlFor="email" className="label">TUK Email Address</label>
                            <input id="email" type="email" name="email" value={dataLog.email} />
                        </div>
                        <div className="group">
                            <label htmlFor="password" className="label">Password</label>
                            <input id="password" type="password" name="password" value={dataLog.password}  />
                        </div>
                        <div className="group">
                            <input type="submit" className="button text-white" value="Login" />
                        </div>
                    </form>
                    <div className="hr"></div>
                    <div className="foot-lnk">
                        <div className="group">
                            <Link className="button text-white" to="/">Back</Link>
                        </div>

                    </div>
                </div>
                <div className="sign-up-htm">
                    <form >
                        <div className="group">
                            <label htmlFor="name" className="label">Name</label>
                            <input id="name" type="text" name="name" value={data.name}  />
                            <div className='nameError'></div>
                        </div>
                        <div className="group">
                            <label htmlFor="email" className="label">TUK Email Address</label>
                            <input id="email" type="email" name="email" value={data.email}  />
                            <div className='emailError'></div>
                        </div>
                        <div className="group">
                            <label htmlFor="regno" className="label">Registration Number</label>
                            <input id="regno" type="text" name="regno" value={data.regno} />
                            <div className='regnoError'></div>
                        </div>
                        <div className="group">
                            <label htmlFor="password" className="label">Password</label>
                            <input id="password" type="password" name="password" value={data.password}  />
                            <div className='passwordError'></div>
                        </div>


                        <div className="group">
                            <input type="submit" className="button text-white" value="Register" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>