<header class="p-3 bg-transparent text-white shadow-sm mb-5">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-9 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 fs-4"
      >
        <li>
          <a href="#actions" class="nav-link px-2 text-green scrollto"
            >Actions</a
          >
        </li>
        <li>
          <a href="#candidates" class="nav-link px-2 text-green">Candidates</a>
        </li>
        <li><a href="#voters" class="nav-link px-2 text-green">Voters</a></li>
        <li><a href="#tally" class="nav-link px-2 text-green">Tally</a></li>
      </ul>

      <div class="text-end">
        <h4>
          <span class="badge site-green fs-4">Moderator</span>
        </h4>
      </div>
    </div>
  </div>
</header>

<main class="container-md">
  <article id="actions" class="blog-post site-bluish my-4 p-3">
    <h3 class="blog-post-title mb-1">Moderator Actions</h3>

    <p>Available actions are:</p>
    <dl>
      <dt>Initiate blockchain voting session</dt>
      <dd>
        <button class="btn" style="background-color: rgb(148 163 184)">
          Start
        </button>
      </dd>
      <dt>To Candidates:</dt>
      <dd>View List of Candidates who have applied</dd>
      <dd>
        Remove a candidate from the list (not known in SCIT or unqualified)
      </dd>
      <dt>To Voters:</dt>
      <dd>View List of Voters who have Registered</dd>
      <dd>Remove a voter from the list (not known in SCIT)</dd>
    </dl>
  </article>

  <article id="candidates" class="blog-post site-bluish my-4 p-3">
    <h2 class="blog-post-title mb-1">Candidates</h2>

    <p>
      This is some additional paragraph placeholder content. It has been written
      to fill the available space and show how a longer snippet of text affects
      the surrounding content. We'll repeat it often to keep the demonstration
      flowing, so be on the lookout for this exact same string of text.
    </p>
    <blockquote>
      <p>
        Longer quote goes here, maybe with some
        <strong>emphasized text</strong> in the middle of it.
      </p>
    </blockquote>
    <p>
      This is some additional paragraph placeholder content. It has been written
      to fill the available space and show how a longer snippet of text affects
      the surrounding content. We'll repeat it often to keep the demonstration
      flowing, so be on the lookout for this exact same string of text.
    </p>
    <h3>Example table</h3>
    <p>And don't forget about tables in these posts:</p>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Upvotes</th>
          <th>Downvotes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alice</td>
          <td>10</td>
          <td>11</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>4</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Charlie</td>
          <td>7</td>
          <td>9</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Totals</td>
          <td>21</td>
          <td>23</td>
        </tr>
      </tfoot>
    </table>

    <p>
      This is some additional paragraph placeholder content. It's a slightly
      shorter version of the other highly repetitive body text used throughout.
    </p>
  </article>

  <article id="voters" class="blog-post site-bluish my-4 p-3">
    <h2 class="blog-post-title mb-1">Voters</h2>

    <p>
      This is some additional paragraph placeholder content. It has been written
      to fill the available space and show how a longer snippet of text affects
      the surrounding content. We'll repeat it often to keep the demonstration
      flowing, so be on the lookout for this exact same string of text.
    </p>
    <ul>
      <li>First list item</li>
      <li>Second list item with a longer description</li>
      <li>Third list item to close it out</li>
    </ul>
    <p>
      This is some additional paragraph placeholder content. It's a slightly
      shorter version of the other highly repetitive body text used throughout.
    </p>
  </article>

  <article id="tally" class="site-bluish my-4 p-3">
    <h2 class="blog-post-title mb-1">Total Tallies</h2>
  </article>
</main>
