<p class="text-center mt-4 text-red fw-semibold fs-2">Voter (Login/Register)</p>
<div class="mx-4 my-5 my-5">
  <div class="col-lg-6 mx-auto">
    <!-- navs -->
    <ul class="nav nav-pills nav-justified mb-5" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="tab-login"
          data-bs-toggle="pill"
          data-bs-target="#pills-login"
          role="tab"
          aria-controls="pills-login"
          aria-selected="true"
        >
          Login
        </button>
      </li>

      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="tab-register"
          data-bs-toggle="pill"
          data-bs-target="#pills-register"
          role="tab"
          aria-controls="pills-register"
          aria-selected="false"
        >
          Register
        </button>
      </li>
    </ul>
    <!--  navs -->

    <!-- Login -->
    <div class="tab-content fw-semibold">
      <div
        class="tab-pane fade show active"
        id="pills-login"
        role="tabpanel"
        aria-labelledby="tab-login"
      >
        <form class="form-login">
          <div class="form-outline mb-4">
            <label class="form-label" for="loginName">TUK Email</label>
            <input
              type="email"
              id="emailLog"
              name="email"
              class="form-control"
              placeholder="voter@students.tukenya.ac.ke"
            />
            <div class="emailLog-error"></div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Password</label>
            <input
              type="password"
              id="passwordLog"
              name="password"
              class="form-control"
            />
            <div class="passwordLog-error"></div>
            <div class="reg-success"></div>
          </div>

          <button type="submit" class="btn btn-primary btn-block mb-4">
            Login
          </button>

          <div class="text-center">
            <p>Register if not yet</p>
          </div>
        </form>
      </div>

      <!-- Register -->
      <div
        class="tab-pane fade"
        id="pills-register"
        role="tabpanel"
        aria-labelledby="tab-register"
      >
        <form class="form-register">
          <div class="form-outline mb-4">
            <label class="form-label" for="registerName">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Firstname    Lastname"
            />
            <div class="name-error"></div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="registerEmail">TUK Email</label>
            <input
              type="email"
              id="emailReg"
              name="email"
              class="form-control"
              placeholder="voter@students.tukenya.ac.ke"
            />
            <div class="emailReg-error"></div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="registerRegistrationNumber"
              >Registration Number</label
            >
            <input
              type="text"
              id="regno"
              name="regno"
              class="form-control"
              placeholder="SCII/00000/2000 or SCCI/00000/2000 or SCCJ/00000/2000"
            />
            <div class="regno-error"></div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="registerPassword">Password</label>
            <input
              type="password"
              id="passwordReg"
              name="password"
              class="form-control"
            />
            <div class="passwordReg-error"></div>
            <div class="reg-success"></div>
          </div>

          <button type="submit" class="btn btn-primary btn-block mb-3">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const formLogin = document.querySelector(".form-login");
  let nameError = document.querySelector(".name-error");
  let emailError = document.querySelector(".emailReg-error");
  let emailErrorLog = document.querySelector(".emailLog-error");
  let regnoError = document.querySelector(".regno-error");
  let passwordError = document.querySelector(".passwordReg-error");
  let passwordErrorLog = document.querySelector(".passwordLog-error");
  let regSuccess = document.querySelector(".reg-success");

  formLogin.addEventListener("submit", async (e) => {
    e.preventDefault();

    //reset errors
    emailErrorLog.textContent = "";
    passwordErrorLog.textContent = "";

    const email = formLogin.email.value;
    const password = formLogin.password.value;

    try {
      const response = await fetch("/voters/log", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "Content-Type": "application/json" },
      });

      const data = await response.json();
      console.log(data);

      //update errors
      if (data.errors) {
        emailErrorLog.textContent = data.errors.email;
        passwordErrorLog.textContent = data.errors.password;
      }
      if (data.message) {
        regSuccess.textContent = data.message;
      }
      if (data.voter) {
        location.assign("/voters/dashboard");
      }
    } catch (error) {
      console.log(error);
    }
  });

  const formRegister = document.querySelector(".form-register");

  formRegister.addEventListener("submit", async (e) => {
    e.preventDefault();

    //reset errors
    nameError.textContent = "";
    emailError.textContent = "";
    regnoError.textContent = "";
    passwordError.textContent = "";
    regSuccess.textContent = "";

    const name = formRegister.name.value;
    const email = formRegister.email.value;
    const regno = formRegister.regno.value;
    const password = formRegister.password.value;

    try {
      const response = await fetch("/voters/reg", {
        method: "POST",
        body: JSON.stringify({ name, email, regno, password }),
        headers: { "Content-Type": "application/json" },
      });

      const data = await response.json();
      console.log(data);

      //update errors
      if (data.errors) {
        nameError.textContent = data.errors.name;
        emailError.textContent = data.errors.email;
        regnoError.textContent = data.errors.regno;
        passwordError.textContent = data.errors.password;
      }
      if (data.success_msg) {
        regSuccess.textContent = data.success_msg;
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
