<header class="p-3 bg-transparent text-white shadow-sm mb-5">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-9 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 fs-4"
      >
        <li>
          <a href="#candidates" class="nav-link px-2 text-green">Candidates</a>
        </li>
        <li><a href="#vote" class="nav-link px-2 text-green">Voters</a></li>
        <li><a href="#tally" class="nav-link px-2 text-green">Tally</a></li>
      </ul>

      <div class="text-end">
        <h4>
          <span class="badge site-green fs-4">Voter</span>
        </h4>
      </div>
    </div>
  </div>
</header>

<main class="container-md">
  <article id="candidates" class="blog-post site-bluish rounded-4 my-4 p-3">
    <h3 class="blog-post-title mb-1">Registered SCIT Candidates</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Registration Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alice</td>
          <td>trial@gmail.com</td>
          <td>SCCI/00222/2018</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>trial2@gmail.com</td>
          <td>SCCI/00111/2018</td>
        </tr>
      </tbody>
    </table>

    <p><b>NB:</b> This is a recent copy, refresh page incase of updates</p>
  </article>

  <article id="vote" class="blog-post site-bluish my-4 rounded-4 p-3">
    <h3 class="blog-post-title mb-1">Vote</h3>
  </article>

  <article id="tally" class="site-bluish rounded-4 my-4 p-3">
    <h3 class="blog-post-title mb-1">Total Tallies</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Votes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Alice</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </article>
</main>
