.site-green {
  background-color: #21846a;
}
.site-bluish {
  background-color: rgb(226 232 240);
}
.site-red {
  background-color: #84213b;
}
.text-green {
  color: #21846a;
}
.text-red {
  color: #84213b;
}

body {
  background-color: rgb(248 250 252);
  font-size: large;
}

.nav-link:focus,
.nav-link:hover {
  color: #84213b;
}

/*
reg/login
*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #84213b;
}
.nav-link {
  color: #84213b;
}
.btn {
  --bs-btn-border-color: #84213b;
  --bs-btn-hover-border-color: #21846a;
  background-color: #84213b;
  --bs-btn-hover-bg: #21846a;
  --bs-btn-active-bg: #21846a;
  --bs-btn-active-border-color: #21846a;
}
